.recommend {
    max-width: 720px;
    line-height: 1.4;
    margin: 0 auto;
    margin-top: 11px;
    .ant-card-body {
        padding: 0px;
    }
    p {
        margin-bottom: unset;
    }
    .ant-card-bordered {
        border: 0px solid #f0f0f0;
        border-bottom: 1px solid #e6e6e6;
    }

    &-card {
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
    }

    .recommend-header {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        max-height: 50px;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        padding-top: 22px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        font-family: Noto-San-Regular;
        &-left {
            display: flex;
            pointer-events: none;
            align-items: center;

            &-title {
                text-decoration: none;
                display: inline-block;
                box-sizing: border-box;
                margin: 0;
                min-width: 0;
                font-weight: normal;
                -text-align: left;
                font-size: 20px;
                color: #333;
            }
        }
        &-right {
            max-height: 22.4px;
            box-sizing: border-box;
            margin: 0;
            min-width: 0;
            display: flex;
            align-items: center;
            color: #999;
            cursor: pointer;
            &-more {
                font-size: 16px;
            }
            .icon-arrow {
                box-sizing: border-box;
                margin: 0;
                min-width: 0;
                max-width: 100%;
                height: auto;
                margin-left: 4px;
                margin-top: 2px;
                width: 8px;
                height: 14px;
            }
        }
    }
    &-img {
        position: relative;
        margin: 20px;
        margin-top: 14px;
        margin-left: 0px;
        margin-right: 0;
        .img-list {
            border-radius: 6px;
            overflow: hidden;
            cursor: pointer;
            .img-main {
                border-radius: 6px;
            }
        }
        .recommend-btn-slide {
            display: flex;
            position: absolute;
            align-items: center;
            left: 30px;
            bottom: 27px;
            gap: 10px;
            .btn-prev {
                cursor: pointer;
            }
            .btn-next {
                cursor: pointer;
            }
            .slide-btn-item {
                display: flex;
                align-items: center;
                gap: 3px;

                .slide-number {
                    color: rgb(255, 255, 255);
                    font-size: 18px;
                    opacity: 0.5;
                    padding-top: 2px;
                }
            }
        }
    }
    .recommend-img-list {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .recommend-img-main {
        scroll-snap-align: center;
        flex: none;
        width: 880.64px;
        height: 440.32px;
        display: flex;
        img {
            width: 720px;
            height: 360px;
            align-self: center;
            margin: 0 auto;
            padding-left: 14px;
        }
    }
    &-btn {
        display: flex;
        justify-content: center;
        max-width: 720px;
        background: #fecc2e;
        margin-top: 11px;
        cursor: pointer;
        &-img {
            max-width: 70%;
        }
    }
    @media screen and (width: 1024px) {
        .recommend-img-main {
            border: 1px solid rgb(248, 248, 248);
            border-radius: 6px;
            margin-left: 14px;
            img {
                padding-left: 0px;
            }
        }
        .recommend-img-list {
            gap: 1px;
        }
    }

    @media screen and (max-width: 1279.98px) {
        .recommend-header {
            padding-left: 15px;
            padding-right: 15px;
        }
        max-width: 1024px;
        .ant-card .ant-card-bordered {
            width: 1024px !important;
        }
        .header-left-title {
            font-size: 16px !important;
        }

        .header {
            &-right {
                &-more {
                    font-size: 13px;
                }
            }
        }
        &-btn {
            max-width: 1024px;
            &-img {
                max-width: 58%;
            }
        }
        .recommend-header-left-title {
            font-size: 16px;
        }
        .recommend-header-right-more {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 1023.98px) {
        &-img {
            margin-left: 0;
        }
        .ant-card-body {
            padding: 0px;
            margin-right: -17px;
        }

        .recommend-img-list {
            gap: 10px;
            &::-webkit-scrollbar {
                display: none;
            }
            .recommend-img-main {
                scroll-snap-align: center;
                flex: none;
                width: 86vw;
                height: 43vw;
                display: flex;
                img {
                    border-radius: 6px !important;
                    width: 86vw;
                    height: 43vw;
                    align-self: center;
                    margin: 0 auto;
                    margin-left: 14px;
                }
            }
        }
    }
    @media screen and (max-width: 767.98px) {
        .header {
            padding: 0 4.5vw;
        }

        .recommend-img-list {
            &::-webkit-scrollbar {
                display: none;
            }
            .recommend-img-main {
                scroll-snap-align: center;
                flex: none;
                width: 86vw;
                height: 43vw;
                display: flex;
                img {
                    width: 86vw;
                    height: 43vw;
                    align-self: center;
                    margin: 0 auto;
                    margin-left: 14px;
                }
            }
        }
        &-img {
            margin-left: 1px;
            margin-right: 0px;
            padding-bottom: 5px;
        }
        &-btn {
            &-img {
                max-width: 100%;
                height: 16.11vw;
            }
        }
    }
    @media screen and (max-width: 376.98px) {
        .recommend-img-list {
            &::-webkit-scrollbar {
                display: none;
            }
            .recommend-img-main {
                scroll-snap-align: center;
                flex: none;
                width: 86vw;
                height: 43vw;
                display: flex;
                img {
                    width: 86vw;
                    height: 43vw;
                    align-self: center;
                    margin: 0 auto;
                    margin-left: 14px;
                }
            }
        }
    }
    @media screen and (max-width: 340.98px) {
        .recommend-img-list {
            gap: 15px;
            &::-webkit-scrollbar {
                display: none;
            }
            .recommend-img-main {
                scroll-snap-align: center;
                flex: none;
                width: 275.2px;
                height: 43vw;
                display: flex;
                img {
                    width: 86vw;
                    height: 43vw;
                    align-self: center;
                    margin: 0 auto;
                    margin-left: 14px;
                }
            }
        }
    }

    ul.slick-dots.slick-dots-bottom {
        display: none !important;
    }
}
