$family: (
	primary: "utm-avo",
	// second: "Open+Sans"
);

$color: (	
	// theme
	main: #eee,

	// text
	// text-1:#242526,
	text-1:#ffd200,
	text-2:#333333,
	text-3:#9c9c9c,
	text-4:#bbbbbb,
	text-5:#999,
	text-6:#bdbdbd,
	text-7:#c6c6c6,
	
	// bg
	bg-1:#242526,
	bg-2:#ffd200,
	bg-3:#f7f7f7,

	// required
	b: rgb(68, 44, 44),
	w: #FFF,
	x: #F6F6F6,
	// notification
);

$shadow:(
	s1: 0 3px 6px rgba(0,0,0,.16),
	s2: 0 4px 10px rgba(0,0,0,.16),
);

$space:(
	120: 120px,
	82: 82px,
	64: 64px,
	60: 60px,
	56: 56px,
	54: 54px,
	48: 48px,
	45: 45px,
	42: 42px,
	40: 40px,
	38: 38px,
	36: 36px,
	32: 32px,
	24: 24px,
	20: 20px,
	16: 16px,
	15: 15px,
	12: 12px,
	10: 10px,
	5: 5px,
	0: 0px
);






///////////////////// PAGE ////////////////////////////
