.vertical-card {
  max-width: 720px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.4;
  margin: 0 auto;
  margin-top: 11px;

  .vertical-card-header {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-height: 50px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    font-family: Noto-San-Regular;
    &-left {
      display: flex;
      pointer-events: none;
      align-items: center;

      &-title {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        font-weight: normal;
        -text-align: left;
        font-size: 20px;
        color: #333;
      }
      &-volume {
        text-decoration: none;
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        color: #999;
        font-size: 14px;
        margin-left: 4px;
        flex: 0 0 auto;
      }
      &-title-dash {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        width: 4.5px;
        height: 16px;
        font-size: 16px;
        color: #d3d3d3;
        line-height: 1;
        overflow: hidden;
        margin-left: 5px;
        margin-right: 5px;
      }
      &-title-1 {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        font-weight: bold;
        font-size: 20px;
        color: #333;
      }
    }
    &-right {
      max-height: 22.4px;
      box-sizing: border-box;
      margin: 0;
      min-width: 0;
      display: flex;
      align-items: center;
      color: #999;
      cursor: pointer;
      &-more {
        font-size: 16px;
      }
      .icon-arrow {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        max-width: 100%;
        height: auto;
        margin-left: 4px;
        margin-top: 2px;
        width: 8px;
        height: 14px;
      }
    }
  }
  .card-list {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card-list-three {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card-list-rank {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 1279.98px) {
    max-width: 1024px !important;
    .card-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 25px;
    }
    .ant-card .ant-card-bordered {
      width: 1024px !important;
    }
    .vertical-card-header-left-title {
      font-size: 16px !important;
    }
    .vertical-card-header-left-title-1 {
      font-size: 16px !important;
    }
    .vertical-card-header {
      &-right {
        &-more {
          font-size: 13px;
        }
      }
    }
    .card-list-rank {
      gap: 0;
    }
  }

  @media screen and (max-width: 1100px) {
    .card-list {
      padding: 17px 4.5vw 5px;
    }
    .vertical-card-header-left-volume {
      font-size: 12px;
    }
    .card-list-three {
      padding: 15px;
    }
    .vertical-card-header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 1023.98px) {
    .card-list {
      grid-gap: 17px;
    }
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 19px;
    .card-list {
      grid-gap: 9px;
    }
    .vertical-card-header {
      padding: 0 15px;
    }
  }

  .ant-card-body {
    padding: 0px;
  }
  p {
    margin-bottom: unset;
  }
  .ant-card-bordered {
    border: 0px solid #f0f0f0;
  }
}
