@import "../../../Assets/style/mixins";
@import "../../../Assets/style/variables";
.block-horizon_card{
    position: relative;
    p,h3{
        margin-bottom: 0px;
    }
    &.noRank{ 
        .horizon_card{
            
            &-top{
                .card-img{
                    padding-bottom: 140%;
                    @media (max-width:1280px) {
                        padding-bottom: 66%;
                        
                    }
                }
                .card-badge{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    // padding: 3px;
                    background-color: unset;
                    &_top{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20%;
                        max-width: 40px;
                        height: auto;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    &_bottom{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(0,0,0,0.8);
                        padding: 5px;
                        color: white;
                    }
                    
                }
    
            }
            
        }      
    }
    width: 100%;
    margin-bottom: 20px;
    .horizon_card{
        position: relative;
        &-link{
            width: 100%;
            position: absolute;
            
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            
        }
        &-top{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 8px;
            border: 1px solid rgba(0,0,0,0.1);
            .card-img{
                width: 100%;
                padding-bottom: 100%;
                position: relative;
                
                .img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                }
            }
            .card-overlay{
                width: 100%;
                padding: 4px 10px;
                background-color: map-get($color, bg-1 );
                display: flex;
                align-items: center;
                min-height: 21px;
                @media (max-width:640px) {
                    padding: 0 8px;
                }
                &_rank{
                    color: map-get($color, text-1);
                    font-size: 16px;
                    font-family:Noto-San-Demi-Light ;
                    @media (max-width:640px) {
                        font-size: 12px;
                        
                    }
                    .rank{
                        display: flex;
                        align-items: center;
                        
                        svg{
                            margin-right: 5px;
                            @media (max-width:640px) {
                                margin-right: 3px;
                                width: 11px;
                                height: 11px;
                                
                            }
                        }
                    }
                }
                &_time{
                    display: flex;
                    align-items: center;
                    width: 16px;
                    height: 100%;
                    margin-left: auto;
                    line-height: unset;
                    @media (max-width:640px) {
                        width: 13px;
                        height: 13px;
                        
                    }
                    img{
                        vertical-align: unset;
                        object-fit: contain;
                    }
                }
                
            }

        }
        &-bottom{
            margin-top: 10px;
            @media (max-width:640px) {
                margin-top: 7px;
                
            }
            .card-title{
                display: flex;
                align-items: center;
                
                &_badge{
                    display: flex;
                    align-items: center;
                    width: auto;
                    height: 20px;
                    margin-right: 5px;
                    img{
                        object-fit: contain;
                        max-width: unset;
                        vertical-align: unset
                    }
                }
                
                &>*{
                    @include p-line-clamp(1);
                    color: map-get($color, text-2 );
                    font-size: 16px;
                    font-family:Noto-San-Demi-Light ;
                    @media (max-width:640px) {
                        font-size: 13px;
                        
                    }
                }
                
            }
            .card-viewer{
                display: flex;
                align-items: center;
                margin-top: 6px;
                @media (max-width:640px) {
                    margin-top: 3px;
                    
                }
                img{
                    width: auto;
                    height: 13px;
                    object-fit: contain;
                    @media (max-width:640px) {
                        width: 10px;
                        height: 10px;
                        
                    }
                }
                &>*{
                    color: map-get($color, text-3 );
                    font-size: 14px;
                    font-family:Noto-San-Light ;
                    @media (max-width:640px) {
                        font-size: 12px;
                        
                    }
                    &:not(:last-child){
                        margin-right: 4px;
                    }
                }
                
            }
        }
    }
}