.header-wrapper {
  //header
  $header-height: 80px;
  .header {
    display: flex;
    align-items: center;
    height: $header-height;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    &-container {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      margin-top: 5px;
      .logo {
        margin-right: auto;
      }
      .menu {
        display: flex;
        align-items: center;
      }
    }
    .search-box {
      position: relative;
      border: 1px solid #cfcfcf;
      border-radius: 16px;
      overflow: hidden;
      padding: 3px 3px 3px 11px;
      &-input {
        outline: none;
        border: none;
        color: #000;
        font-weight: 500;
      }
      &-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding-right: 10px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .cta {
      display: flex;
      align-items: center;
      .stage {
        margin-left: 24px;
        .stage-img--sm {
          display: none;
        }
      }
      &-gr {
        display: flex;
        align-items: center;
        margin-left: 22px;
      }
      &-link {
        text-decoration: none;
        color: #999999;
        font-family: Noto-San-Regular;
        font-size: 18px;
      }
    }
  }

  //navigation
  .navigation {
    width: 100%;
    .ant-tabs-nav {
      margin-bottom: 0;
      position: fixed;
      top: $header-height;
      width: 100%;
      z-index: 10;
      &-wrap {
        background-color: #fff;
      }
      &-list {
        max-width: 720px;
        margin: 0 auto;
      }
    }
    .ant-tabs-content-holder {
      margin-top: 167px;
    }
    .ant-tabs-content {
      max-width: 720px;
      margin: 0 auto;
    }
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list {
      width: 100%;
      .ant-tabs-tab {
        padding: 30px 0 15px;
        margin: 0;
        flex: 1 1 auto;
        justify-content: center;
      }
      .ant-tabs-ink-bar {
        background-color: #ffd200;
        height: 3px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    $header-height: 50px;
    .header {
      height: $header-height;
    }
    .header-container .logo {
      width: 100px;
    }
    .navigation {
      .ant-tabs-nav {
        top: $header-height;
        .ant-tabs-nav-wrap .ant-tabs-nav-list {
          .ant-tabs-tab-btn img {
            height: 16px;
          }
          .ant-tabs-ink-bar {
            height: 2px;
          }
        }
      }
      .ant-tabs-content-holder {
        margin-top: 99px;
        padding-top: 4.5vw;
      }
    }
    .navigation
      .ant-tabs-nav
      .ant-tabs-nav-wrap
      .ant-tabs-nav-list
      .ant-tabs-tab {
      padding: 14px 0 11px;
    }
    .navigation .ant-tabs-content,
    .navigation .ant-tabs-nav-list,
    .header-container {
      max-width: 100%;
    }
    .header-container {
      margin: 0 15px;
      .menu {
        .search-box {
          border: none;
          form {
            display: none;
          }
          &-icon {
            position: relative;
            transform: translateY(0);
            padding: 0;
          }
        }
        .cta {
          .stage {
            margin-left: 20px;
            .stage-img {
              display: none;
            }
            .stage-img--sm {
              display: block;
              width: 21px;
              height: 24px;
            }
          }

          &-gr {
            margin-left: 14px;
            .divider {
              display: none;
            }
            .cta-link.cta-link--cash {
              display: none;
            }
          }
          &-link {
            font-size: 12px;
            color: #121212;
          }
        }
      }
    }
  }
}
