@font-face {
    font-family: "Noto-San-Black";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Black.woff2") format("truetype");
    
}
@font-face {
    font-family: "Noto-San-Bold";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Bold.woff2") format("truetype");
    
}
@font-face {
    font-family: "Noto-San-Demi-Light";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-DemiLight.woff2") format("truetype");
    
}
@font-face {
    font-family: "Noto-San-Light";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Light.woff2") format("truetype");
    
}
@font-face {
    font-family: "Noto-San-Medium";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Medium.woff2") format("truetype");
    
}
@font-face {
    font-family: "Noto-San-Regular";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Regular.woff2") format("truetype");
    
}
@font-face {
    font-family: "Noto-San-Thin";
    src: url("./NotoSansCJKkr/NotoSansCJKkr-Thin.woff2") format("truetype");
    
}

  