@import '../../Assets/style/variables';
.footer {
  p {
    margin-bottom: unset;
  }
  a:hover {
    color: map-get($color, text-6);
  }
  ul {
    margin-bottom: unset;
  }
  @media (max-width: 1024px) {
    padding: 0 15px;
  }
  &-wrapper {
    display: flex;
    // align-items: center;
    padding: 60px 0;
    @media (max-width: 1024px) {
      padding: 30px 0;
    }
    * {
      font-size: 14px;
      @media (max-width: 640px) {
        font-size: 13px;
      }
      color: map-get($color, text-6);
      font-family: Noto-San-Medium;
    }
    &_left {
      // flex: 1 0 80%;
      flex: 1;
      .footerLink {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width:1024px) {
          max-width: 250px;
        }
        li:not(:last-child) {
          margin-right: 13px;
          position: relative;
          
          &::after {
            content: '•';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -9px;
            color: map-get($color, text-6);
          }
        }
        li {
          margin-bottom: 5px;
        }
      }
      .footerDropdown {
        // display: flex;
        // align-items: center;

        .title-dash {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          width: 4.5px;
          height: 16px;
          font-size: 16px;
          // color: #d3d3d3;
          line-height: 1;
          overflow: hidden;
          margin-left: 8px;
          margin-right: 8px;
          @media (max-width: 1024px) {
            display: none;
          }
        }
        &-handle {
          cursor: pointer;
          &::after {
            margin-left: 5px;
            background: url(../../Assets/images/footer/dropdown.png) no-repeat
              center center;
            background-size: 100%;
            content: '';
            width: 10px;
            height: 10px;
            display: inline-block;
            
          }
        }
        &-section {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
        }
        &-link {
          // @media (max-width:640px) {
          //     display: none;
          // }
          a {
            text-decoration: underline;
            // color: wheat;
          }
        }
        &-decs {
          margin-top: 10px;
          .title-dash {
            @media (max-width: 1024px) {
              display: none;
            }
            box-sizing: border-box;
            margin: 0;
            min-width: 0;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 0;
            margin-bottom: 2px;
            min-width: 1px;
            width: 1px;
            height: 11px;
            background-color: #d9d9d9;
          }
          &.open {
            display: block;
          }
          &.close {
            display: none;
          }
          &_infor {
            display: flex;
            align-content: center;
            & > * {
              margin-bottom: map-get($space, 5);
            }
            @media (max-width: 640px) {
              flex-direction: column;
            }
          }
        }
      }
      .footerSgin {
        & > * {
          color: rgb(205, 205, 205);
          @media (max-width:1024px) {
            
            padding-bottom: map-get($space, 20);
          }
        }
        margin-top: 10px;
      }
    }
    &_right {
      // flex: 0 0 auto;
      margin-left: auto;
      & > * {
        @media (max-width: 640px) {
          font-size: 10px;
        }
      }
      .legal {
        width: 55px;
        height: 55px;
        @media (max-width: 640px) {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
